# editorconfig.org

# top-most Editor config file
root=true

# For every file
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
max_line_length = 100
tab_width = 2
trim_trailing_whitespace = true

# For Go lang files
indent_size = 4
indent_style = tab

# For Python files
[*.py]
indent_size = 4
