// Border color
$border-color: (
  header-bottom: #efefef,
  footer-top: #efefef,
);

// Text color
$text-color: (
  generic: #1e1e1e,
  generic-hover: #1e1e1e,
  generic-visited: #1e1e1e,
  link-footer: #1e1e1e,
  logo: #0c77f8,
);
